services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: db
    shm_size: 256mb
    ports:
      - "9342:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: text_share
    volumes:
      - postgres_data:/var/lib/postgresql/data

  textshareapi:
    image: textshareapi
    container_name: textshareapi
    build:
      context: .
      dockerfile: TextShareApi/Dockerfile
    ports:
      - "7285:7285"
    depends_on:
      - db
    environment:
      - ASPNETCORE_URLS=https://+:7285
      # connection settings for aspnet
      - ConnectionStrings__DefaultConnection=Host=db;Database=text_share;Username=postgres;Password=postgres
    entrypoint: >
      sh -c "./wait-for-it.sh db:5432 --timeout=30 && 
          psql "postgresql://postgres:postgres@db:5432/text_share" -f ./migrations/migrations.sql && 
          dotnet ./TextShareApi.dll"

  textshareclient:
    image: textshareclient
    container_name: textshareclient
    build:
      context: .
      dockerfile: text-share-client/Dockerfile
      args:
        - REACT_APP_SERVER_URL_PATH=http://localhost:7285/
        - REACT_APP_CLIENT_URL_PATH=http://localhost/
    ports:
      - "80:80"
    depends_on:
      - textshareapi

volumes:
  postgres_data: