.bookmark {
  outline: none;
  background: none;
  width: fit-content;
  height: 38px;
  font-size: 18px;
  border: 1px solid var(--secondary);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  color: var(--text);
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

.bookmark:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.bookmark.active {
  border: none;
  background-color: var(--accent);
  color: var(--background);
}

.bookmark.active:hover {
  cursor: default;
  background-image: none;
}
