.auth-feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}

.auth-feature .auth-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
}
