.reader {
    margin-top: 60px;
    color: #000;
}

.reader .description {
    padding: 15px 0;
}

.reader .error {
    color:red;
}

.reader .header {
    justify-content: space-between;
}

.reader .header, 
.reader .header .info,
.reader .header .sub-info {
    display: flex;
    flex-direction: row;
}


.reader .sub-info a {
    color:#DA2225;
}

.reader .text-type-info * {
    margin: 0;
}

.reader .info .title {
    font-size:18px;
}

.reader .info {
    width:90%;
}

.reader .header {
    width: 100%;
}

.reader .text-type-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:5px;
}

/* .reader .text-type-info > * {
    margin: auto 0;
} */

.reader .info img {
    width: 40px;
    height: 40px;
    margin: auto 0;
}

.reader .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height:50px;
    width: 50px;
}

.reader .actions a {
    height: 20px;
    width: 20px;
}

.reader .actions a:hover {
    cursor:pointer;
}

.reader .sub-info > * {
    margin-right: 5px;
}

.reader .text content {
    margin-top:4px;
    width: 100%;
    border:1px solid #BABABA;
}

.reader .copy-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.reader .copy-notification {
    position: absolute;
    top: -30px;
    left: -100px;
    transform: translateX(-50%);
    font-size: 14px;
    color: green;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #BABABA;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    
}