/* Header */

header {
    background-color: #0080CE;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center; 
}

header .my-container {
    position:relative;
    display: flex;
    flex-direction:row;
    gap: 20px;
    align-items: center;
    width: 1320px;
    height: 100%;
    margin:0 auto;
}

header .my-container > div {
    display: flex;
    justify-content: space-between;
    padding:0;
}

header [class^="col-"] {
    vertical-align: middle;
}

/* Logo */

header .logo {
    width: 153px;
    margin-right:40px;
}

header .logo img {
    margin: auto 30px auto 0;
    width: 20px;
    height:18px;
}

/* Add button */

header .add-button {
    margin-right:30px;
    font-size:14px;
    vertical-align: middle;
}

header .add-button a {
    margin:0 10px;
    background-color:#35CC3C;
    border-radius:7px;
    height:30px;
}

header .add-button a:hover {
    background-color:#46b94b;
}

header .add-button img {
    margin:auto 6px;
}

header .add-button div {
    margin:auto 6px auto 0;
}

/* Search bar */

header .search-bar {
    display:flex;
    flex-direction:row;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: white;
    height: 26px;
    width: 275px;
}

header .search-input {
    border:none;
    outline:none;
    font-size:16px;
    width: 90%;
    padding-left:10px;
    background: rgba(255, 255, 255, 0);
}

header .search-button {
    border:none;
    outline:none;
    padding:0;
    width:10%;
    background: rgba(255, 255, 255, 0);
}

header .search-button img {
    width:12px;
    height:12px;
    display:block;
    padding:0;
    margin:0 auto;
}

/* User info */

header .user-info {
    /* position:relative; */
    margin-left: auto;
}

header .user-info button {
    font-weight: 300 !important;
    display:flex;
    flex-direction:row;
    border:none;
    background-color:rgba(255, 255, 255, 0);
    color: white;
}

header .user-info button img {
    margin-right:16px;
}

header .user-info .menu-button img {
    width:24px;
    height:12px;
    margin:auto;
}

header .user-info .user-name {
    margin-left:10px;
}

/* Drop out menu */

header .dropout-menu {
    position:absolute;
    top:50px;
    right:0;
    display:flex;
    flex-direction:column;
    background-color:#0080CE;
    font-size:20px;
    padding:6px 0;
}

header .dropout-menu > div a,
header .dropout-menu > div button {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 300px;
    padding: 0 10px;
    color: white;
    font-weight:300;
}

header .dropout-menu > div button {
    background-color:rgba(255, 255, 255, 0);
    border-style:none;
    outline:none;
}

/* Mobile devices */

@media (max-width: 991px) {
    header .add-button div, header .logo div {
        display:none;
    }
    header .logo {
        max-width: 30px;
        margin-right: 0 !important;
    }

    header .logo * {
        margin-right: 0 !important;
    }
}

@media (max-width: 767px) {
    header .user-info .user-name {
        display:none;
    }
    
    header .user-info img {
        margin-right:0 !important;
    }
}

@media (max-width: 575px) {
    header .logo {
        margin: auto 10px !important;
        max-width: 20px !important;
    }

    header .add-button {
        margin-right:0 !important;
    }

    header .search-bar {
        max-width: 175px;
    }
}

@media (max-width: 400px) {
    header .search-bar .search-input {
        width: 80% !important;
    }

    header .search-bar .search-button {
        width:20% !important;
    }

    header .search-bar {
        max-width: 115px !important;
    }
}

/* my-container */

.test div[class^="col"] {
    border:1px solid red;
    box-sizing:border-box;
}

.my-container {
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.my-container .column {
    width: 8.333333333%
}

@media (max-width: 575px) {
    .my-container {
        max-width:100%;
    }
}

@media (min-width: 576px) {
    .my-container {
        max-width:540px;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width:720px;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width:960px;
    }
}

@media (min-width: 1200px){
    .my-container {
        max-width:1140px;
    }
}

@media (min-width: 1400px) {
    .my-container {
        max-width:1320px;
    }
}


/* Тест */

/* .fluid-container [class^="col"] {
    border: 1px solid red;
    box-sizing: border-box;
} */