.editor {
    color: #000;
    margin-top: 60px;
}

.editor .error {
    color: red;
}

.editor .content {
    height: 70vh;
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
}

.editor .text .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:18px;
}

.editor .settings .title {
    font-size:18px;
    font-weight:500;
    width:100%;
    border-bottom:1px solid #BABABA;
}

.editor .text button {
    background-color: rgb(0, 123, 255);
    color: #fff;
    border:none;
    margin-bottom: 150px;
    border-radius:10px;
}


/* Таблица */

.editor table img {
    padding:3px;
}

.editor table img:hover {
    cursor:pointer;
}

.editor table {
    width: 75%;
    min-width: 320px;
    margin-top: 5px !important;
}

.editor table p {
    margin: auto 0;
}

.editor table td {
    padding:4px 0;
}

.editor table .col1 {
    width: 30%;
}

.editor table .col1 * {
    width: 100%;
}

.editor table .col2 > * {
    width: 100%;
}

.editor input, .editor select {
    outline:none;
    border:1px solid #BABABA;
    border-radius:5px;
}

/* Реализация свича */
.editor .switch-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
}

.editor .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.editor .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.editor .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.editor .switch input:checked + .slider {
    background-color: #4caf50;
}

.editor .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.editor .switch input:checked + .slider::before {
    transform: translateX(32px);
}