/* Header */

header {
  background-color: var(--accent);
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header .my-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  width: 1320px;
  height: 100%;
  margin: 0 auto;
}

header .my-container > div {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

header [class^="col-"] {
  vertical-align: middle;
}

/* Logo */

header .logo {
  font-size: 24px;
  margin: auto 10px !important;
}

header .logo a {
  gap: 12px;
}

header .logo img {
  margin: auto 0;
  width: 20px;
  height: 18px;
}

/* Search bar */

header .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 14px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: white;
  height: 28px;
  width: 100%;
  max-width: 300px;
}

header .search-input {
  font-size: 18px;
  border: none;
  outline: none;
  width: 90%;
  background: rgba(255, 255, 255, 0);
}

header .search-button {
  border: none;
  outline: none;
  padding: 0;
  width: 10%;
  background: rgba(255, 255, 255, 0);
}

header .search-button:hover {
  cursor: pointer;
}

header .search-button img {
  width: 17px;
  height: 17px;
  display: block;
  padding: 0;
  margin: 0 auto;
}

/* User info */

header .user-info {
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
  gap: 10px;
}

header .user-info button,
header .user-info a {
  display: flex;
  gap: 10px;
  flex-direction: row;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

header .user-info button img,
header .user-info a img {
  width: 28px;
  height: 28px;
}

header .user-info .menu-button img {
  width: 24px;
  height: 12px;
  margin-top: 30%;
}

header .user-info .menu-button:hover {
  cursor: pointer;
}

header .user-info .user-name {
  font-size: 24px;
}

/* Drop out menu */

header .dropout-menu {
  position: absolute;
  top: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--accent);
  border-radius: 8px;
  gap: 8px;
}

header .dropout-menu .menu-value {
  font-size: 18px;
}

header .dropout-menu > div a,
header .dropout-menu > div button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 0 10px;
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}

/* Mobile devices */

@media (width <= 991px) {
  header .custom-button p,
  header .logo div {
    display: none;
  }

  header .logo {
    max-width: 30px;
    margin-right: 0 !important;
  }

  header .logo * {
    margin-right: 0 !important;
  }
}

@media (width <= 767px) {
  header .user-info .user-name {
    display: none;
  }

  header .user-info img {
    margin-right: 0 !important;
  }
}

@media (width <= 575px) {
  header .logo {
    max-width: 20px !important;
  }

  header .add-button {
    margin-right: 0 !important;
  }

  header .search-bar {
    max-width: 175px;
  }
}

@media (width <= 400px) {
  header .search-bar .search-input {
    width: 80% !important;
  }

  header .search-bar .search-button {
    width: 20% !important;
  }

  header .search-bar {
    max-width: 115px !important;
  }
}

/* my-container */

.my-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.my-container .column {
  width: 8.333333333%;
}

@media (width <= 575px) {
  .my-container {
    max-width: 100%;
  }
}

@media (width <= 576px) {
  .my-container {
    max-width: 540px;
  }
}

@media (width <= 768px) {
  .my-container {
    max-width: 720px;
  }
}

@media (width <= 992px) {
  .my-container {
    max-width: 960px;
  }
}

@media (width <= 1200px) {
  .my-container {
    max-width: 1140px;
  }
}

@media (width <= 1400px) {
  .my-container {
    max-width: 1320px;
  }
}
